.popup__button_close {
    position: relative;
    top: -188px;
    left: 8px;

    background: url(../../../../images/closeIcon.svg) no-repeat center;
    background-size: cover;
    border: none;

    width: 32px;
    height: 32px;
    transition: opacity 0.3s ease;
}

.popup__button_close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 520px) {
    .popup__button_close {
        top: -186px;
        left: -20px;

        width: 20px;
        height: 20px;
    }
}