.popup__container {
    box-sizing: border-box;
    padding: 34px 36px 37px 36px;

    width: 430px;
    background: #FFFFFF;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    position: relative;
}

@media screen and (max-width: 520px) {
    .popup__container {
        padding: 25px 22px 25px 22px;
        width: 282px;

    }
}
